html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 62.5%; //1rem = 10px
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-1200) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-500) {
    font-size: 40%;
  }

  @media only screen and (max-width:$bp-300) {
    font-size: 30%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x:hidden;
}

.wrap {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  background-color: $color_alt_white;
}

.landing-hero{
  overflow: hidden;
}

.landing-hero__video-wrapper{
  position: relative;
    height: 100vh;
    background-color: rgba($color-grey-dark, 1);
}


.landing-pillar {
  height: 120em;
  padding: $space*10 $space $space*2 $space*2;
  color:$color_white;

  & h1 {
    font-size: $h2;
  }

  & p {
    font-size: $font_base_size*2;
  }

}


// #pillar1{background-color: $color_grey_alt; position: relative; overflow: hidden;}
// #pillar2{background-color: $color_blue_dark;position: relative; overflow: hidden;}
// #pillar3{background-color: $color_blue_dark_alt;position: relative; overflow: hidden;}
// #pillar4{background-color: $color_blue_light_alt;position: relative; overflow: hidden;}

// Alt

// #pillar1{background-color: #c2bec3; position: relative; overflow: hidden;}
// #pillar2{background-color: #122548;position: relative; overflow: hidden;}
// #pillar3{background-color: #203386;position: relative; overflow: hidden;}
// #pillar4{background-color: #a1c5cf;position: relative; overflow: hidden;}


.serviceSvg, .services_content {
  position: absolute;
  left: 0;
  bottom:0;
}

.services_content--container {
  max-width: 192em;
  margin: 0 auto;
  min-height: 108em;
}

body::-webkit-scrollbar {
  width: .8rem;
}

body::-webkit-scrollbar-track {
  background: rgba($color-grey-dark, .8); 
}

body::-webkit-scrollbar-thumb {
  background: $color_grey; 
  border-radius: ($space/2);
}

body::-webkit-scrollbar-corner {
  background: rgba($color-grey-dark, .8); 
}

.pillar {
  &-container {
    height: (108em/1.5);
  

    &:nth-child(even) video {
      left: -10%;;
    }

    &:nth-child(even) .pillar-content {
      right: 0;

      & .pillar-cta {
        justify-content: flex-start;
      }
    }

    &-wrapper {
      max-width: 144em;
      margin: 0 auto;
      position: relative;
      height: 100%;
    }
  
  }

  &-content {
    position: absolute;
    padding: 8.4em 4.4em 2.5em 4.4em;
    height: 100%;
    max-width: 90em;
    width: auto;
    z-index: 10;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    // align-items: center;

    & h1 {
      font-size: $h2;
      color: $color-white;
    }
    
    & hr {
      border: .4rem solid $color-red;
      border-radius: .2rem;
      width: 30em;
    }

    & h2 {
      color: $color-white;
      font-size: $h3;
      font-weight: 400;
    }
  }

  &-video {
      right: -10%;
      position: absolute;
      top: 10em
    }

  &-cta {
    display: flex;
    justify-content: flex-end;
    // align-items: flex-end;

    & a {
      padding: .8em 1.6em;
      color: $color-red;
      font-size: 1.6rem;
      text-decoration: none;
      border: .1em solid $color-red;
      transition: all .3s ease-in-out;
      text-transform: uppercase;

      &:hover {
        background-color: $color-red;
        color: $color-white;
      }
    }
  }

  &-renderer {
    &-wrap {
      width: 100%;
      height: 0;
      padding-bottom: calc(100% * 6/16);
      overflow: hidden;
      position: relative;

      @media only screen and (max-width: $bp-1000) {
        padding-bottom: calc(100% * 9/16);
      }

      @media only screen and (max-width: $bp-600) {
        padding-bottom: calc(100% * 12/16);
      }

      @media only screen and (max-width: $bp-500) {
        padding-bottom: calc(100% * 16/16);
      }
    }
    &-container {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: $unit*4 $unit*8;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;

      @media only screen and (max-width: $bp-600) {
        padding: $unit*4 $unit*4;

      }

      &-div{
        width: 33%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;

        @media only screen and (max-width:$bp-1500) {
          width: 45%;
        }

        @media only screen and (max-width:$bp-1000) {
          width: 55%;
        }

        @media only screen and (max-width:$bp-800) {
          width: 75%;
        }


        @media only screen and (max-width:$bp-600) {
          width: 85%;
        }

        @media only screen and (max-width:$bp-500){
          width: 100%;
        }
      }

     &-title {
      user-select: none;
      & hr {
        @include hr();
      }
  
      & h2 {
        color: $color-white;
        font-size: $h2;

        // @media only screen and(max-width:$bp-400) {
        //   font-size: $h3;
        // }
        
      }
     }

     &-cta-container {
       margin: $unit*8 0 0 0;
       height: auto;
       width: 90%;
       display: flex;
       align-items: center;
       justify-content: flex-end;

       @media only screen and (max-width:$bp-500){
        width: 100%;
        justify-content: center;
      }

       & a {
        padding: .8em 1.6em;
        color: $color-red;
        font-size: 1.6rem;
        text-decoration: none;
        border: .1em solid $color-red;
        transition: all .3s ease-in-out;
        text-transform: uppercase;
        margin-left: $unit*2;
        display: inline-block;

        &:first-of-type {
          margin-left: 0;
        }
  
        &:hover {
          background-color: $color-red;
          color: $color-white;
        }
      }
     }
    }

    &-scene {
      width: 100%;
      height: 50%;
    }
  }

}

.oem {
  @media only screen and(min-width:$bp-2500) {
    background-color: $color-alt-white;

    & > section  {
      background-color: $color-white;
    }
  }
}