.company{
  &-section {

    // width: 100%;
    // margin: 0 auto;
    // height: 0;
    // padding-bottom: calc(100%*9/16);
    // overflow: hidden;
    // position: relative;

    // @media only screen and(max-width:$bp-1000) {
    //   padding-bottom: calc(100%*12/16);
    // }

    // @media only  screen and (max-width:$bp-900) {
    //   padding-bottom: calc(100% * 14/16);
    // }

    // @media only  screen and (max-width:$bp-900) {
    //   padding-bottom: calc(100% * 16/16);
    // }

    // @media only  screen and (max-width:$bp-800) {
    //   padding-bottom: calc(100% * 16/14);
    // }

    // @media only  screen and (max-width:$bp-700) {
    //   padding-bottom: calc(100% * 16/10);
    // }


    &:nth-child(n+3) {
      background-color: $color_white;
    }
  }

  &-description-content {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: $unit*12 $unit*10 $unit*10 $unit*12;
  }

  &-executive-summary{
    display: flex;
    max-width: 35%;
    margin: $unit*4 0;

    @media only screen and (max-width: $bp-1500) {
      max-width: 45%;
    }

    @media only screen and (max-width: $bp-1400) {
      max-width: 50%;
    }

    @media only  screen and (max-width:$bp-700) {
      max-width: 100%;
    }

    @media only  screen and (max-width:$bp-700) {
      max-width: 100%;
    }

    &-text {
      padding:0 $unit*2;
    }
    &-container{

      padding: $unit*12 $unit*10 $unit*10 $unit*12;


      @media only  screen and (max-width:$bp-400) {
        padding: $unit*6 $unit*5 $unit*5 $unit*6;
      }
    }

    &-content{
      display: flex;
      flex-wrap: wrap;
      margin-top: $unit*4;
      justify-content: space-around;

      @media only  screen and (max-width:$bp-700) {
        flex-direction: column;
      }
    }
  }

  &-history {
    &-container {
      padding: $unit*12 $unit*10 $unit*10 $unit*12;
      // background-color: $color_white;
      @media only  screen and (max-width:$bp-400) {
        padding: $unit*6 $unit*5 $unit*5 $unit*6;
      }
    }

    &-content-container {
      margin-top: $unit*4;
      display: flex;
      align-content: center;
      justify-content: center;

      @media only screen and (max-width:$bp-900){
        justify-content: space-between;
      }

      @media only screen and (max-width:$bp-500){
        flex-direction: column;
      }

      & figure {
        // min-width: 25%;
        max-width: 30%;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width:$bp-500){
          flex-direction: column;
          max-width: 100%;
        }

        & img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        & figcaption {
          // position: absolute;
          // bottom: 0;
          // left: 0;
          width: 100%;
          text-align: center;
          font-size: $font_base_size;
          background-color: $color_grey;
          padding: $unit;
          color: $color_alt_white;
          font-weight: 700;
        }
      }
    }

    &-text {
      padding: 0 $unit*4;
      font-size: $font_base_size;
      width: 45%;

      @media only screen and (max-width:$bp-900){
        width: 65%;
      }

      @media only screen and (max-width:$bp-700){
       padding: 0 $unit*2;
      }
      
      @media only screen and (max-width:$bp-500){
        margin-top: $unit*2;
        width: 100%;
        padding: 0 ;
       }
    }
  }

  &-timeline {

    width: 100vw;
    padding: 30em 0;
    background-color: $color_grey_light;

    & li {
      background-color: $color_white;
      font-size: $font_base_size;
      width: 10em;
      height: 0.1875em;
      position: relative;
      display: inline-block;
      list-style-type: none;

      &:last-child {
        width: 17.5em;
      }

      &:not(:first-child) {
        margin-left: .625em;
      }

      &:nth-child(odd) {
        & div {
          top: -16px;
          transform: translateY(-100%);

          &::before {
            top: 100%;
            border-width: 8px 8px 0 0;
            border-color: white transparent transparent transparent;
          }

          &.future {
            &::before {
              border-color: $color_blue_light transparent transparent transparent;
            }
          }
        }
      }

      &:nth-child(even) {
        & div {
          top: calc(100% + 1em);
          &::before {
            top: -8px;
            border-width: 8px 0 0 8px;
            border-color: transparent transparent transparent $color_white;
          }

          &.future {
            &::before {
              border-color: transparent transparent transparent $color_blue_light;
            }
          }
        }
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(100%);
        bottom: 0;
        width: 1rem;
        height: 1rem;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $color_red;
      }

      & div {
        position: absolute;
        left: calc(100% + 7px);
        width: 17.5em;
        padding: 1em;
        white-space: normal;
        color: black;
        background: $color_white;
        font-size: $font_base_size;
        
        & figure {
          // width: 33%;
            margin-right: 1em;
            margin-bottom: 1em;
          & img {
            // width: 100%;
            // height: auto;
            object-fit: contain;

          }
          &.float {
            float: left;
          }
        }
  
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          
        }
  
        & time {
          display: block;
          width: 100%;
          font-size: $h5;
          font-weight: bold;
          margin-bottom: 8px;
        }

        &.future {
          background-color: $color_blue_light;
        }
      }
    }


    &-container {
      padding: $unit*12 0;
      // background-color: $color_alt_white;

      & .company-title {
        padding: 0 0 0 $unit*12;

        @media only  screen and (max-width:$bp-400) {
          padding: 0 0 0 $unit*6;
        }
      }
    }

    &-content-container {
      overflow-x: hidden;
      white-space: nowrap;
      margin-top: $unit*4;
    }
  }

  &-facilities {
    &-container {
      padding: $unit*12 $unit*10 $unit*20 $unit*12;
      // background-color: $color_white;

      padding: $unit*6 $unit*5 $unit*10 $unit*6;
    }

    &-text-container {
      display: flex;
      justify-content: center;
      margin:$unit*12 0 $unit*4 0;
      p {
        width: 40em;
      }
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;
      width: 25%;
      margin: 0 $unit *2 ;

      & img {
        object-fit: cover;
        width: 100%;

      }

      & h3 {
        width: 100%;
        font-size: $font_base_size;
        color: $color_alt_white;
        text-align: center;
        font-weight: 700;
        background-color: $color_grey;
        margin:0;
        padding: $unit;
      }

      &-container {
        display: flex;
      }
    }
  }

  &-title {


    & h1,& h2 {
      font-size: $h2;
      color: $color_grey;
      // text-shadow: 0px 1px 3px $color_grey_dark;
      text-transform: capitalize;
    }

    & hr {
      @include hr();
    }
  }


}