.cookie-alert {
  &-container {
    width: 100%;
    background-color: $color_red;
    padding: $unit*4 $unit*4;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  &-text {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width:$bp-1000) {
      flex-wrap: wrap;
    }

    & span {
      font-size: $h4;
      margin-right: ($unit * .1);
    }

    & p {
      font-size: $font_base_size;
      color: $color_alt_white;
      margin-bottom: 0;
      margin-left: $unit;
      margin-right: $unit;
      font-weight: 700;
      @media only screen and (max-width:$bp-900) {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
      }
      & a {
        color: $color_alt_white;
        transition: color .3s ease-in-out;

        &:hover {
          color: darken($color_grey, 20%)
        }
      }
    }
  }

  &-buttons {
    margin-left: $unit;
    @media only screen and (max-width:$bp-1000) {
      margin-left: 0;
      margin-top: $unit*2;
    }
    & button {
      border: none;
      color: $color_grey_dark;
      font: 700 $font_base_size $font_primary;
      text-transform: uppercase;
      padding: $unit*.5 $unit;
      background-color: $color_alt_white;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        background-color:darken($color_grey, 20%);
        color: $color_white;
      }

      &:first-of-type {
        margin-right: $unit;
      }
    }
  }
}