[data-french-size="data-3f"]{background-color:#91268f;}
[data-french-size="data-4f"]{background-color:#ee3d42;}
[data-french-size="data-4.5f"]{background-color:#f27579;}
[data-french-size="data-5f"]{background-color:#adafb1;}
[data-french-size="data-5.5f"]{background-color:#e6e7e8;}
[data-french-size="data-6f"]{background-color:#00b159;}
[data-french-size="data-6.5f"]{background-color:#bae0c9;}
[data-french-size="data-7f"]{background-color:#f79727;}
[data-french-size="data-7.5f"]{background-color:#fdc98f;}
[data-french-size="data-8f"]{background-color:#0067b1;}
[data-french-size="data-8.5f"]{background-color:#a3d6f4;}
[data-french-size="data-9f"]{background-color:#261b01;}
[data-french-size="data-9.5f"]{background-color:#bab0a2;}
[data-french-size="data-10f"]{background-color:#ec098c;}
[data-french-size="data-10f-destino"]{background-color:#f8c5db;}
[data-french-size="data-10.5f"]{background-color:#f8c5db;}
[data-french-size="data-11f"]{background-color:#ffdd00;}
[data-french-size="data-11.f"]{background-color:#ffe574;}
[data-french-size="data-12f"]{background-color:#aa650d;}
[data-french-size="data-12f-destino"]{background-color:#fad7a6;}
[data-french-size="data-12.5f"]{background-color:#fad7a6;}
[data-french-size="data-13.8f-destino"]{background-color:#ee3d42;}
[data-french-size="data-15f"]{background-color:#adafb1}
[data-french-size="data-16f"]{background-color:#00b159;}
[data-french-size="data-16.5f"]{background-color:#bae0c9;}
[data-french-size="data-18f"]{background-color:#0067b1;}
[data-french-size="data-stylets-red"]{background-color:red;}
[data-french-size="data-stylets-green"]{background-color:green;}
[data-french-size="data-stylets-grey"]{background-color:grey;}
[data-french-size="data-stylets-white"]{background-color:white; border: 1px solid grey;}
[data-french-size="data-veinpicks-blue"]{background-color:#0067b1;}
[data-french-size="data-veinpicks-yellow"]{background-color:#ddb307;}