.top-nav {
  position: absolute;
  width: 100%;
  z-index: 9;
  padding:$space $space*2;

  &__brand-link {
    margin-left: $space*2;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;

  }

  &__brand-container {
    width: 30em;
    display: flex;

    & button {
      -webkit-appearance: button;
      -webkit-writing-mode: horizontal-tb !important;
      writing-mode: horizontal-tb;
      text-rendering: auto;
      color: $color_grey_dark;
      letter-spacing: normal;
      word-spacing: normal;
      text-indent: 0px;
      text-shadow: none;
      display: flex;
      text-align: center;
      align-self: flex-end;
      // align-items: flex-start;
      // justify-content: center;
      // justify-items: center;
      // justify-self: center;
      // align-content: center;
      cursor: default;
      background-color: transparent;
      box-sizing: border-box;
      margin: 0 1.6em 0 0;
      font-family: $font_secondary;
      text-transform: uppercase;
      font-weight: 500;
      // font: 300 $base_font_size $font_secondary;
      padding: .8rem .8rem;
      border-width: 0;
      border-style: none;
      border-color: none;
      border-image: none;
      transition: background-color .3s, color .3s;
      // min-width: 6.4rem;
  
      &:hover {
        background-color: $color_red;
        color: $color_white;
      }
  
      &:focus {
        outline: $color_red solid .1rem;
    }
      
    }
  }

  &__cart-container{
    // width: 45em;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    align-items: center;


    & .langnav-content {
      margin: 0 $unit*2 0 0;
      display: flex;

      &.dark {
        border-right: .1em solid $color_grey_light;
        & a {
          color: $color_grey_dark;
          

        &.nuxt-link-exact-active {
          color: $color_white;
          background-color: rgba($color_grey_darker, .6);
          }
        }

      }

      &.light {
        border-right: .1em solid $color_alt_white;
        & a {
          color: $color_white;
          

        &.nuxt-link-exact-active {
          color: $color_red;
          background-color: rgba($color_grey_darker, .6);
          }
        }

      }

      & a {
        display: block;
        margin: 0 $unit;
        font-size: $font_base_size;
        // color: $color_white;
        padding: ($unit/2) ($unit);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        transition: color .3s ease-in-out;

        &.nuxt-link-exact-active {
          backdrop-filter: blur(2px);
          border-radius: $unit;
          // box-shadow: inset 1px 1px 14px 0px rgba(black, .3);
        }

        &:hover {
          color: $color-red;
        }
      }
    }

    & svg {
      &:first-of-type {
        margin-right: $unit*2;
      }
    }
  }
}



.side-nav {
  position: absolute;
  padding: $space $space*2;
  top:0;
  right: 0;
  width: 40em;
  // height: 100%;
  bottom: 0;
  background-color:rgba($color-grey-dark, .9);
  backdrop-filter: blur(10px);
  transition: transform .3s ease-in-out .05s;
  transform: translateX(40em);
  z-index: 110;

  &.nav-open {
    transform: translateX(0);
  }
}

// #cart-btn {
//   &.light {
//     fill: $color_alt_white;
//   }
//   &.dark {
//     fill: $color_grey_dark
//   }
// }

#cart-btn {
  color: $color_red;
  text-transform: uppercase;
  padding: ($unit /2) ($unit);
  font-weight: 400;
  border-radius: $unit;
  border: none;
  font-size: $font-base-size;
  align-items: center;
  font: 400 $font-base-size $font_secondary;
  cursor: pointer;
  transition: background-color .3s ease;
  &.light {
    background-color: transparent;
    &:hover {
      background-color: lighten($color_red,10%);
      color: $color_white;
    }
  }

  &.dark {
    background-color: transparent;
    &:hover {
      background-color: lighten($color_red,10%);
      color: $color_white;
    }
  }
}

// .search-btn {
//   margin-right: $unit;
//   &--glass {
//     &.light{
//       stroke: $color_alt_white;
//       fill: none;
//     }

//     &.dark {
//       stroke: $color_grey_dark;
//       fill: none;
//     }
//   }
//   &--handle{
//     &.light {
//       stroke: $color_alt_white;
//     }

//     &.dark {
//       stroke: $color_grey_dark;
//     }
//   }
// }

.search-btn {
  
  text-transform: uppercase;
  padding: ($unit /2) ($unit);
  font-weight: 400;
  border-radius: $unit;
  border: none;
  font-size: $font-base-size;
  // align-items: center;
  font: 400 $font-base-size $font_secondary;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  &.light {
    background-color: transparent;
    color: $color_white;

    &:hover {
      color: $color_grey_dark;
      background-color: $color_alt_white;
    }
  }

  &.dark {
    color: $color_grey_dark;
    background-color: transparent;

    &:hover {
      color: $color_white;
      background-color: $color_grey;
    }
  }
}