.news {

  &-content-container {
    @media only screen and (max-width: $bp-500) {
      padding: $unit*4 $unit*4 0 $unit*4;
    }
  }

  &-events-container {
    display: flex;
    flex-wrap: wrap;

    @media only screen and(min-width:$bp-2500) {
      max-width: 1920px;
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-800) {
    //   flex-wrap: wrap;
      flex-direction: column-reverse;
    }

  }

  &-content-hero {
    @media only screen and(min-width:$bp-2500) {
      max-width: 1920px;
      margin:$unit*20.5 auto 0 auto; 
    }
  }

  &-articles-container, &-tradeshows-container {
    width: 50%;
    // width: fit-content
    // width: max-content;
    padding: $unit*4 $unit*8 $unit*4 0;

    @media only screen and(max-width: $bp-800) {
      width: 100%;
    }
  }

  &-articles-container {
    @media only screen and(max-width: $bp-800) {
      padding: $unit*4 0 0 0;
    }

    & h2 {
      display: none;
      @media only screen and(max-width: $bp-800) {
        font-size: $h3;
        color: $color_grey;
        margin-top: 0;
        display: inherit;
      }
    }
  }

  &-article-card {
    margin: 0 0 $unit*8 0;
    &-image-container{
      width: 100%;
      margin: 0 auto;
      height: 0;
      padding-bottom: calc(100%*9/16);
      overflow: hidden;
      position: relative;

      & img {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
      }
    }

    & h2{
      font-size: $h4;
      color: $color_grey;
    }

    & a {
      font-size: $font_base_size;
      text-transform: uppercase;
      color: $color_red;
    }
  }

  &-tradeshows-container{
    padding: $unit*4 $unit*12;

    @media only screen and (max-width: $bp-1400) {
      padding: $unit*4 $unit
    }
    & h2 {
      font-size: $h3;
      color: $color_grey;
      margin-top: 0;
    }
  }

  &-tradeshow-card {
    width: 100%;
    &:nth-child(even) {
      background-color: $color_white;
    }
    padding: $unit*2;
    & h3 {
      font-size: $h5;
      color: $color_grey;
      margin-top: 0;
    }
    &-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & span {
        font-size: $font_base_size;
        font-family: $font_primary;
      }
    }
  }

  &-article {
    &-container {
      max-width: 60em;
      margin: 20vh auto 0 auto;
      padding-bottom: 30vh;
      // margin: 0 auto;
      // padding-bottom: 60vh;
  
      & h1 {
        font-size: $h3;
        color: $color_grey;
      }
  
      & hr {
        border: 0.4rem solid #EE3D42;
        border-radius: .2rem;
        width: 10.7em;
      }
  
      & img {
        margin-top: $unit*4;
        margin-bottom: $unit*4;
        width: 100%;
        display: block;
      }
    }

    &-content {
      margin-top: $unit*4;
      & a {
        color: $color_red;
      }
    }
  }

  &-front {
    &-section {
      // width: 100%;
      // height: 0;
      // position: relative;
      // padding-bottom: calc(100% * 6/16) ;
      // overflow: hidden;

      &-container {
        padding: $unit*4 $unit*12;
        height: auto;
        min-height: 60vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-1200) {
          padding: $unit*4 $unit*8;
        }

        @media only screen and (max-width: $bp-900) {
          padding: $unit*4 $unit*4;
        }
        
      }

      &-card {
        width: calc(100vw / 5);
        background-color: $color-white;
        margin: $unit*4 $unit*2 0 $unit*2;

        @media only screen and(max-width:$bp-1920) {
          
          max-width: 39em;
        }



        @media only screen and(max-width:$bp-1400) {
          width: 40em;
        }

        @media only screen and(max-width:$bp-700) {
          width: 35em;
        }

        @media only screen and(max-width:$bp-600) {
          width: 60em;
        }
      }

      &--inner-wrap {
        width: 100%;
        height: 0;
        padding-bottom: calc(100% * 9 / 16);
        overflow: hidden;
        position: relative;

        & a {
          display: block;
          height: 100%;
          cursor: pointer;
        }

        & img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        & h3 {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          font-size: $h5;
          color: $color_white;
          text-align: center;
          background-color: rgba($color_grey_dark, $alpha: .8);
          margin: 0;
          padding: ($unit / 2);
        }
      }

      &-video-wrap {
        & video {
          width: 100%;
        }
      }

      &--inner-link-wrap {
        padding: $unit $unit*4;
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & a {
          font-size: $font_base_size;
          text-transform:uppercase;
          color: $color_red;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }
}