.product-cards {
  &-section  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: $unit*27.75;
    padding-bottom: $unit*27.75*2;
  }
  &-container {
    max-width: 30em;
    width: 100%;
    height: $unit *30*2;
    background-color: $color_grey_light;
    border-radius: $unit * 3.125 ;
    margin:  $unit*2;
    position: relative;
    overflow: hidden;
  }

  &-circle {
    background-color: $color_white;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: $unit * 10.5;
    z-index: 1;
    transition: transform .3s ease-in-out;

    &.over {
      transform: scaleX(3);
    }
  }

  &-content-container {
    width: 100%;
    height: 80%;
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: $unit * 2.5;
    background-origin: content-box;
    transition: transform .35s ease-in-out;

    &.shrink{
      transform: scale(.75);
      transform-origin: center top;
    }



    &-content {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 40%;
      top: 73.5%;
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transition: top .3s ease-in-out;

      &.slide-up{
        top:60%;
      }

      h2 {
        font-size: $h4;
        text-transform: uppercase;
        color: $color_white;
        text-align: center;
      }

      & a {
        display:block;
        margin: 0 auto;
        width: 15em;
        font-size: 1.6rem;
        color: $color_red;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: .8rem 1.6rem;
        border: .2rem solid $color_red;
      }
    }
  }
}