.single, .single-component {
  &-content {
    &-hero {
      // width: 100%;
      // max-width: 192em;
      // margin: 0 auto;
      // max-height: 108em;
      // height: 100%;
      // max-width: 192em;
      width: 100%;
      margin: 0 auto;
      height: 0;
      padding-bottom: calc(100%*9/16);
      overflow: hidden;
      position: relative;
    }

    &-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    // &-ratio {
    //   overflow: hidden;
    //   position: relative;
    //   padding-top: calc(100%/ (16/6));
    // }

    &-heading {
      // max-width: 20vw;
      // width: 20%;
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      // margin-top: $unit*20.5;
      

      & h1 {
        font-size: $h2;
        color: $color_grey;
      }

      & h2 {
        font-size: $h3;
        color: $color_grey;
        font-weight: 300;
        // width: 30%;
      }

      & hr {
        border: 0.4rem solid #EE3D42;
        border-radius: .2rem;
        width: 10.7em;
      }

      p {
        width: 30%;
        margin-top: $unit*5;
      }
    }

    &-image-container {
      // max-width: 80vw;
      width:50%;
      // height: 100%;

      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;

      }
    }
  }

  &-image-hero {
    background: no-repeat;
    // background: linear-gradient(0deg, $color_grey 0%, $color_alt_white 100%);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    filter: opacity(80%);
    // backdrop-filter: greyscale(100%);
    background-blend-mode: overlay;
    // background-color: $color_grey;
    
  }

  &-description {
    &-container {
      width: 100%;
      margin:0 auto;
      height: 0;
      padding-bottom: calc(100%*9/16);
      overflow: hidden;
      position: relative;
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-image {
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: cover;
      // position: relative;

      // & img {
      //   // width: 100%;
      //   position: absolute;
      //   bottom:0;
      //   left:-20em;

      // }
    }

    &-text {
      width: 50%;
      padding: 0 $unit*8;

      & p {
        font-size: $h4;
        // margin: 0 $unit*8;
      }

      & a {
        display:block;
        margin: $unit*4 $unit*2 0 0;
        width: 15em;
        font-size: 1.6rem;
        color: $color_red;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: .8rem 1.6rem;
        border: .2rem solid $color_red;
      }
    }

  }

  &-carousel {
    &-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      // width: 100%;
      // margin: 0 auto;
      // height: 0;
      // padding-bottom: calc(100%*9/16);
      // max-width: 60em;
    }

    &-title {
      position: absolute;
      top: 0;
      left: $unit*8;
      z-index: 100;
      & h2 {
        font-size: $h2;
        color: $color_grey;
        // text-shadow: 0px 1px 3px $color_grey_dark;
        text-transform: capitalize;
      }

      & hr {
        border: 0.4rem solid #EE3D42;
        border-radius: .2rem;
        width: 10.7em;
      }
    }

    &-slides-container {
      display: flex;
      transition: transform .8s ease;
       // position: absolute;
      // top:0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      // flex-wrap: wrap;
      // flex-direction: column;
    }

    &-slide {
      height: 100%;
      // flex-basis: 100%;
      width: 100%;
      display: flex;
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: center;
      align-items: center;
      justify-content: center;
      position: relative;

      & img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      &-text {
        position: absolute;
        bottom: $unit;
        left: 0;
        width: 100%;
        
        margin-bottom: $unit*6;
         & p {
          font-size: $h4;
          text-align: center;
          color: $color_grey;
          // text-shadow: 0px 1px 3px $color_grey_dark;
          margin: 0;
         }
      }
    }

    &-controls {
      position: absolute;
      z-index: 101;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;

      & button {
        appearance: auto;
        text-rendering: auto;
        color: $color_grey;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        background-color: transparent;
        box-sizing: border-box;
        margin: 0 $unit*4;
        font-size: 1.8rem;
        padding: 1px 6px;
        border: none;

        &:focus {
          outline: none;
        }

      }

      & #prev-chevron, & #next-chevron {
        fill: $color_grey;
        transition: fill .3s ease;

        &:focus {
          outline: none;
        }

        &:hover {
          fill: $color_grey_light;
        }
      }
    }

    &-shortcuts {
      position: absolute;
      bottom: 1%;
      width: 100%;
      z-index: 101;
      display: flex;
      justify-content: center;
      align-items: center;

      &--shortcut {
        height: 1.6em;
        width: 1.6em;
        border-radius: 50%;
        margin: 0 ($unit/2);
        background-color: $color_grey;
        transition: background-color .3s ease;
        cursor: pointer;
        &:hover {
          background-color: $color_grey_light;
        }

        &.active {
          background-color: $color_red;
        }
      }
    }
  }

  &-video {

    &-container {
      width: 100%;
      margin: 0 auto;
      height: 0;
      padding-bottom: calc(100%*9/16);
      overflow: hidden;
      position: relative;
    }

    &--video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: linear-gradient($color_alt_white, $color_grey_light)
    }

  }

  &-configs {

    &-section {
      display: flex;
      justify-content: space-between;
      // height: (108em/2);
    }
    &-container{
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // align-content: center;
      // align-items: center;
      justify-content: space-between;

      
      &:first-of-type {
        margin-right: $unit*4;
      }
      &:last-of-type {
        margin-left: $unit*4;
      }
    }

    &-title {
      justify-self: flex-start;
      margin-bottom: $unit*4;
      & h3 {
        font-size:$h3 ;
        color: $color_grey;
        
      }
      & hr {
        border: 0.4rem solid #EE3D42;
        border-radius: .2rem;
        width: 10.7em;
      }
    }

    &-figure {

      & img {
        width: 100%;
        height: auto;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-table {

    &-container {
      min-height: 1080px;
      padding-bottom: $unit*25;
    }

    &-title {

      margin-bottom: $unit*8;
      & h2 {
        font-size: $h2;
        color: $color_grey;
      }

      & hr {
        border: 0.4rem solid #EE3D42;
        border-radius: .2rem;
        width: 10.7em;
      }
    }

    &--table-container {
        margin-bottom: $unit*2;

      & h3 {
        font-size: $h4;
        margin: 0;
        font-weight: 400;
        background-color: $color_grey_light;
        padding:($unit/5) $unit;
        color: $color_grey_dark;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: background-color .3s ease, color .3s ease;
        &:hover {
          background-color: darken($color_grey_light, 10%);
          color: lighten($color_grey_dark, 10%);
        }

        & span {
          transition: transform .3s ease-in-out;
          &::after {
            content: '+';
          }
        }
      }
    }

    &--table-content {
      transition: max-height 0.3s ease-out;
      max-height: 0;
      height: auto;
      // transition: transform .3s ease-in-out;
      // transform-origin: top;
      
      // &.active {
      //   max-height: 100%;
      // }

      overflow: hidden;
      & article {
        padding:$unit*3 $unit $unit $unit*3;
        & ul {
          font-size: $font_base_size;
          list-style-position: inside;
          list-style: circle;
          // padding-left: 0;
        }
      }
    }

    &--table {
      width: 100%;
      border-collapse: collapse;
      font-size: 1.8rem;
      margin-top: $unit*2;

      & tr {
        border-bottom: .05em solid $color_grey_light;
        transition: background-color .3s ease;



        &:nth-child(even) {
          background: linear-gradient(to right, $color_alt_white, rgba($color_white, .35), $color_alt_white);

          
        }
      }

      & th {
        text-align: left;
        color: $color_grey;
        font-weight: 700;
        padding: $unit $unit;
        text-transform: uppercase;
      }
      
      & td {
        padding: $unit $unit;



        &>span {
          display: inline-block;
        }

        & .frenchSizes {
          width: 1.5rem;
          height: 1.5rem;
          display: inline-block;
          border-radius: 50%;
        }
      }
    }
  }
}