.single, .single-component {
  &-content {
    &-hero {
      // width: 100%;
      // max-width: 192em;
      // margin: 0 auto;
      // max-height: 108em;
      // height: 100%;
      // max-width: 192em;
      width: 100%;
      margin: 0 auto;
      height: 0;
      padding-bottom: calc(100%*9/16);
      overflow: hidden;
      position: relative;

      @media only screen and(max-width:$bp-700) {
        width: 100%;
        margin: 0 auto;
        height: unset;
        overflow: unset;
        position: relative;
        padding-bottom: unset;
      }

      // @media only screen and(max-width:$bp-600) {
      //   padding-bottom: calc(100%*16/9);
      // }
    }

    &-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and(max-width:$bp-700) {
        position:unset;
        top:unset;
        left: unset;
        flex-direction: column;
        padding: $unit*8 $unit*4 $unit*4 $unit*4;
      }

      &-wrap {
        padding-top: $unit*12;
        padding-right: $unit*12;
        padding-left: $unit*12;
        padding-bottom: 0;
  
        &.no-right-pad {
          padding-right: 0;
        }

        @media only screen and(max-width:$bp-700) {
          padding: $unit*12 0 0 0;
        }
      }

    }

    // &-ratio {
    //   overflow: hidden;
    //   position: relative;
    //   padding-top: calc(100%/ (16/6));
    // }

    &-heading {
      // max-width: 20vw;
      // width: 20%;
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      // margin-top: $unit*20.5;
      

      & h1 {
        font-size: $h2;
        color: $color_grey;
      }

      & h2 {
        font-size: $h3;
        color: $color_grey;
        font-weight: 300;
        // width: 30%;
      }

      & hr {
        @include hr();
      }

      p {
        width: 30%;
        margin-top: $unit*5;
      }
    }

    &-image-container {
      // max-width: 80vw;
      width:50%;
      // height: 100%;

      @media only screen and(max-width:$bp-700){
        width: 100%;
      }

      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;

      }
    }
  }

  &-image-hero {
    background: no-repeat;
    // background: linear-gradient(0deg, $color_grey 0%, $color_alt_white 100%);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    filter: opacity(80%);
    // backdrop-filter: greyscale(100%);
    background-blend-mode: overlay;
    // background-color: $color_grey;
    
  }

  &-description {
    &-container {
      width: 100%;
      margin:0 auto;
      height: 0;
      padding-bottom: calc(100%*9/16);
      overflow: hidden;
      position: relative;

      @media only screen and(max-width:$bp-700) {
        width: 100%;
        margin: 0 auto;
        height: unset;
        overflow: unset;
        position: relative;
        padding-bottom: unset;
      }
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and(max-width:$bp-700) {
        flex-direction: column-reverse;
        position:unset;
        top:unset;
        left: unset;
        // flex-direction: column;
        // padding: 0 $unit*4 $unit*4 $unit*4;
      }

    }

    &-image {
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: cover;

      @media only screen and(max-width:$bp-700) {
        width: 100%;
        height: 80vw;
      }
      // display: block;
      // position: relative;

      // & img {
      //   // width: 100%;
      //   position: absolute;
      //   bottom:0;
      //   left:-20em;

      // }
    }

    &-text {
      width: 50%;
      padding: 0 $unit*8;

      @media only screen and(max-width:$bp-800) {
        padding: 0 $unit*8 0 $unit*4;
      }

      @media only screen and(max-width:$bp-700) {
        width: 100%;
        padding: $unit*6 $unit*12 $unit*2 $unit*12 ;
      }

      & p {
        font-size: $h5;
        max-width: 70ch;
        // margin: 0 $unit*8;

        @media only screen and (max-width:$bp-1000) {
          font-size: $h5;
        }
      }

      &-links {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width:$bp-700){
          // margin: $unit*4 auto 0 auto;
          justify-content: center;
        }
        & a {
          display:block;
          margin: $unit*4 $unit*2 0 0;
          width: 15em;
          font-size: 1.6rem;
          color: $color_red;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          padding: .8rem 1.6rem;
          border: .2rem solid $color_red;

          @media  only screen and(max-width: $bp-800) {
            margin: $unit $unit*2 0 0;
          }
        }
      }
    
    }

  }

  &-carousel {
    &-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      // width: 100%;
      // margin: 0 auto;
      // height: 0;
      // padding-bottom: calc(100%*9/16);
      // max-width: 60em;
    }

    &-title {
      position: absolute;
      top: 0;
      left: $unit*8;
      z-index: 100;
      & h2 {
        font-size: $h2;
        color: $color_grey;
        // text-shadow: 0px 1px 3px $color_grey_dark;
        text-transform: capitalize;
      }

      & hr {
        @include hr();
      }

      @media only screen and (max-width:$bp-700) {
        display: none;
      }
    }

    &-slides-container {
      display: flex;
      transition: transform .8s ease;
      @media only screen and(max-width: $bp-500) {
        flex-direction: column;
      }
    }

    &-slide {
      height: 100%;
      // flex-basis: 100%;
      width: 100%;
      display: flex;
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: center;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;

      // @media only screen and (max-width:$bp-700) {
      //   flex-direction: column;
      // }

      & img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      &-text {
        position: unset;
        bottom: $unit;
        left: 0;
        width: 100%;
        margin-bottom: $unit*6;

        @media only screen and (max-width:$bp-700) {
          position: relative;
          margin-bottom: 0;
          // bottom: 0;
          left: unset;
          bottom: unset;

        }


         & p {
          font-size: $h4;
          text-align: center;
          color: $color_grey;
          margin: 0;

          @media only screen and(max-width:$bp-1000) {
            font-size: $h4;
            color: $color_grey_dark;
            padding: 0 $unit*2;
          }

          @media only screen and (max-width:$bp-700) {
            padding:($unit / 2) $unit*2 ;
          }

          @media only screen and(max-width:$bp-400) {
            font-size: $h5;
            color: $color_grey_dark;
            padding: 0 $unit*2;
          }

         }
      }
    }

    &-controls {
      position: absolute;
      z-index: 101;
      top:0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and(max-width: $bp-500) {
        display: none;;
      }

      & button {
        appearance: auto;
        text-rendering: auto;
        color: $color_grey;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        background-color: transparent;
        box-sizing: border-box;
        margin: 0 $unit*4;
        font-size: 1.8rem;
        padding: 1px 6px;
        border: none;

        &:focus {
          outline: none;
        }

      }

      & #prev-chevron, & #next-chevron {
        fill: $color_grey;
        transition: fill .3s ease;

        &:focus {
          outline: none;
        }

        &:hover {
          fill: $color_grey_light;
        }
      }
    }

    &-shortcuts {
      position: absolute;
      bottom: 1%;
      width: 100%;
      z-index: 101;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width:$bp-700) {
        display: none;
      }

      &--shortcut {
        height: 1.6em;
        width: 1.6em;
        border-radius: 50%;
        margin: 0 ($unit/2);
        background-color: $color_grey;
        transition: background-color .3s ease;
        cursor: pointer;
        &:hover {
          background-color: $color_grey_light;
        }

        &.active {
          background-color: $color_red;
        }
      }
    }
  }

  &-video {

    &-container {
      width: 100%;
      margin: 0 auto;
      height: 0;
      padding-bottom: calc(100%*9/16);
      overflow: hidden;
      position: relative;
    }

    &--video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: linear-gradient($color_alt_white, $color_grey_light)
    }

  }

  &-configs {

    &-section {
      display: flex;
      justify-content: space-between;
      // height: (108em/2);
    }
    &-container{
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // align-content: center;
      // align-items: center;
      justify-content: space-between;

      
      &:first-of-type {
        margin-right: $unit*4;
      }
      &:last-of-type {
        margin-left: $unit*4;
      }
    }

    &-title {
      justify-self: flex-start;
      margin-bottom: $unit*4;
      & h3 {
        font-size:$h3 ;
        color: $color_grey;
        
      }
      & hr {
        @include hr();
      }
    }

    &-figure {

      & img {
        width: 100%;
        height: auto;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-table {
    &-content-container {
      padding-top: $unit*12;
      padding-right: $unit*12;
      padding-left: $unit*12;
      padding-bottom: 0;

      &.no-right-pad {
        padding-right: 0;
      }

      @media only screen and (max-width:$bp-800) {
        padding-left:$unit*4;
        padding-right:$unit*4;
      }

      @media only screen and (max-width:$bp-600) {
        padding-left:$unit*2;
        padding-right:$unit*2;
      }
    }

    &-container {
      // min-height: 1080px;
      min-height: max-content;
      padding-bottom: $unit*25;
    }

    &-title {

      margin-bottom: $unit*8;
      & h2 {
        font-size: $h2;
        color: $color_grey;
      }

      & hr {
        @include hr();
      }
    }

    &--table-container {
        margin-bottom: $unit*2;

      & h3 {
        font-size: $h4;
        margin: 0;
        font-weight: 400;
        background-color: $color_grey_light;
        padding:($unit/5) $unit;
        color: $color_grey_dark;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: background-color .3s ease, color .3s ease;
        &:hover {
          background-color: darken($color_grey_light, 10%);
          color: lighten($color_grey_dark, 10%);
        }

        & span {
          transition: transform .3s ease-in-out;
          &::after {
            content: '+';
          }
        }
      }
    }

    &--table-content {
      transition: max-height 0.3s ease-out;
      max-height: 0;
      height: auto;
      // transition: transform .3s ease-in-out;
      // transform-origin: top;
      
      // &.active {
      //   max-height: 100%;
      // }

      overflow: hidden;
      & article {
        padding:$unit*3 $unit $unit $unit*3;
        & ul {
          font-size: $font_base_size;
          list-style-position: inside;
          list-style: circle;
          // padding-left: 0;
        }
      }
    }

    &--table-image {
      padding-top: $unit*2;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &--table {
      width: 100%;
      border-collapse: collapse;
      font-size: 1.8rem;
      margin-top: $unit*2;

      @media only screen and (max-width: $bp-500) {
        font-size: $font_base_size;
      }

      & tr {
        border-bottom: .05em solid $color_grey_light;
        transition: background-color .3s ease;



        &:nth-child(even) {
          background: linear-gradient(to right, $color_alt_white, rgba($color_white, .35), $color_alt_white);

          
        }
      }

      & th {
        text-align: left;
        color: $color_grey;
        font-weight: 700;
        padding: $unit $unit;
        text-transform: uppercase;
        @media only screen and(max-width:$bp-800) {
          padding: ($unit/2);
        }
        @media only screen and(max-width:$bp-400) {
          word-break: break-word ;
        }
      }
      
      & td {
        padding: $unit $unit;

        @media only screen and(max-width:$bp-800) {
          padding: ($unit/2);
        }
        // @media only screen and(max-width:$bp-600) {
        //   padding: 0;
        // }


        &>span {
          display: inline-block;
        }

        & .frenchSizes {
          width: 1.5rem;
          height: 1.5rem;
          display: inline-block;
          border-radius: 50%;
        }
      }
    }
  }
}