//COLORS
$color_grey_light: #BBBBBF;
$color_grey: #7D7D80;
$color_grey_dark:#323233;
$color_red: #EE3D42;
$color_grey_darker: #323233;
$color_white: #fff;

//MEDICAL DEVICES
$color_grey_alt:#c1bfc1 ;//#BCBCBC
$color_grey_light_alt:#B9CEE7;
$color_blue_light: #B9CEE7;

//CONTRACT MANUFACTURING
$color_blue_dark:#112b52;//#142C47


//PROTOTYPING
$color_blue_dark_alt:#283d91;//#25377B

//COMPONENTS
$color_blue_light_alt:#adcbd5;//#99D8EA


//FONTS SIZES: MINOR THIRD

$h1:9.044rem;
$h2:6.396rem;
$h3:4.523rem;
$h4:3.199rem;
$h5:2.262rem;
$font_base_size: 1.6rem;
$font_small_size: 1.132rem;
$font_base_line_height:1.65;




//FONT FAMILY
// $font_primary:'Lato', sans-serif;
// $font_secondary:'Oswald', sans-serif;
$font_primary:'Roboto', sans-serif;
$font_secondary:'Roboto', sans-serif;

$space:1.6rem;