//COLORS
$color_grey_light: hsl(240, 3%, 74%);
$color_grey: hsl(240, 1%, 50%);
$color_grey_dark:hsl(240, 1%, 20%);
$color_red: hsl(358, 84%, 59%);
$color_grey_darker: hsl(240, 1%, 20%);
$color_white: hsl(0, 0%, 100%);
$color_alt_white: hsl(0, 0%, 95%);

//MEDICAL DEVICES
$color_grey_alt:hsl(300, 4%, 78%);// c1bfc1 //#BCBCBC
$color_grey_light_alt:hsl(213, 49%, 82%);
$color_blue_light: hsl(213, 49%, 82%);

//CONTRACT MANUFACTURING
$color_blue_dark:hsl(216, 66%, 19%);//#142C47
$color_green: hsl(189, 58%, 58%);


//PROTOTYPING
$color_blue_dark_alt:hsl(228, 57%, 36%);//#25377B

//COMPONENTS
$color_blue_light_alt:hsl(193, 66%, 76%);//#adcbd5


//FONTS SIZES: MINOR THIRD

$h1:9.044rem;
$h2:6.396rem;
$h3:4.523rem;
$h4:3.199rem;
$h5:2.262rem;
$font_base_size: 1.6rem;
$font_small_size: 1.132rem;
$font_base_line_height:1.65;




//FONT FAMILY
// $font_primary:'Lato', sans-serif;
// $font_secondary:'Oswald', sans-serif;
$font_primary:'Roboto', sans-serif;
$font_secondary:'Roboto', sans-serif;

$space:1.6rem;

//UNIT
$unit: .8em;

//Media Queries
$bp-300:18.75em;
$bp-400:25em;
$bp-500: 31.25em;
$bp-600: 37.5em;
$bp-700: 43.75em;
$bp-800: 50em;
$bp-900:56.25em;
$bp-1000: 62.5em;
$bp-1200: 75em; 
$bp-1300: 81.25em;
$bp-1400: 87.5em;
$bp-1500: 93.75em;
$bp-1920: 120em; 
$bp-2500: 156.25em;
